# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable open-doc': 'open-doc:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'open-doc'
      'submenu': [
        { 'label': 'Open in Browser', 'command': 'open-doc:open' }
      ]
    ]
  }
]
